<div class="header">
      
      <div class="logo fltlft mobile">
        <a href="">
          <img src="assets/images/pages/home/logo.png" alt="HM Technologies" title="HM Technologies">
        </a>
      </div>

      <div class="slogan fltrt  mobile">
        <img src="assets/images/pages/home/Design-manufacturing.jpg" alt="Design Innovation"
          title="Design Innovation">
      </div>
      
      <div class="clear"></div>

      <hmtech-comp-navbar></hmtech-comp-navbar>

      

    </div>
